/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background-image:url("../img/pattern-patterns_00289362.jpg");
	width:100%;
	height:100%;
	position:relative;
}
header{
	background-image:url("../img/bigpreview_Gray Pattern.jpg");
	width:100%;
}
main{
	width:70%;
	position:absolute;
	/* margin:10px 0px 0px 200px; */
}
p{
	padding:0.5em 0.5em 0em 0.5em;
}
section{
	display:none;
}
ul li{
	list-style:none;
}
#menu{
	background-color:transparent;
	width:100%;
	margin: 0px 0px 0px 180px;
	
}
#menu ul li{
	display:inline;
	line-height: 100px;
}

#menu ul li a{
	margin:0px 10px 0px 5px;
	padding:0.4em;
	font-family:Garamond;
	font-size:1.5em;
	border:solid 2px white;
	background-color: black;
	text-align:center;
	text-decoration:none;
	color:white;
}
#menu ul li a:hover{
	background-color:red;
	font-size:2em;
}
#inicio:target{
	border:solid 3px black;
	border-radius:25px;
	text-align:center;
	background-image:url("../img/374293.jpg");
	font-family:Garamond;
	font-weight:bold;
	display:block;
	margin:30px 0px 0px 320px;
	padding:0.3em;
	width:70%;
	font-size:2em;
	color:black;
}
#datospersonales img{
	position:absolute;
	width:100px;
	margin:10px 10px 0px 530px;
}
#datospersonales p a{
	border: solid 1px gray;
	background-color:gray;
	border-radius:15px;
	padding:0.2em;
	text-decoration:none;
	color:white;
}
#datospersonales:target{
	background-image:url("../img/374293.jpg");
	display:block;
	line-height:10px;
	font-weight:bold;
	color:black;
	margin:10px 0px 0px 320px;
	width: 70%;
	padding:0.2em;
	-webkit-animation:animacionDatosPersonales 5s;
	-moz-animation:animacionDatosPersonales 5s;
	animation:animacionDatosPersonales 5s;
}
#formacion:target{
	background-image:url("../img/374293.jpg");
	display:block;
	text-align:center;
	font-weight:bold;
	color:black;
	line-height:15px;
	padding:0.2em;
	width:80%;
	margin:10px 0px 0px 280px;
	-webkit-animation:animacionFormacion 5s;
	-moz-animation:animacionFormacion 5s;
	animation:animacionFormacion 5s;
}
#experienciaprofesional:target{
	background-image:url("../img/374293.jpg");
	background-size:100%;
	font-weight:bold;
	font-family:Arial;
	line-height:15px;
	display:block;
	padding:0.2em;
	margin:10px 0px 0px 240px;
	text-align:center;
	color:black;
	width:90%;
	-webkit-animation:animacionExperiencia 5s;
	-moz-animation:animacionExperiencia 5s;
	animation:animacionExperiencia 5s;
}
#trabajos p a{
	border: solid 1px gray;
	background-color:gray;
	border-radius:15px;
	padding:0.2em;
	line-height:50px;
	font-size:2em;
	text-decoration:none;
	color:white;
}
#trabajos:target{
	/* background-image:url("../img/374293.jpg"); */
	background-size:100%;
	font-weight:bold;
	font-family:Arial;
	line-height:15px;
	display:block;
	padding:0.2em;
	margin:10px 0px 0px 240px;
	text-align:center;
	color:black;
	width:90%;
}
#redes{
	width:150px;
	position:absolute;
	margin:10px 0px 0px 87%;
}
#redes ul li a{
	padding:0.3em;
	font-family:Garamond;
	font-size:1.5em;
	border:solid 2px white;
	background-color: black;
	line-height:70px;
	text-align:center;
	text-decoration:none;
	color:white;
}
#redes ul li a:hover{
	background-color:blue;
	font-size:2em;
}
.negrita{
	font-weight:bold;
}
@-webkit-keyframes animacionDatosPersonales{
		0%{
			-webkit-transform:translate(500px,0);
			opacity:0;
		}
		100%{
			-webkit-transform:translate(0px,0px);
			opacity:1;
		}
}
@-moz-keyframes animacionDatosPersonales{
		0%{
			-moz-transform:translate(500px,0);
		}
		100%{
			-moz-transform:translate(0px,0px);
		}
}
@keyframes animacionDatosPersonales{
		0%{
			transform:translate(500px,0);
		}
		100%{
			transform:translate(0px,0px);
		}
}

@-webkit-keyframes animacionFormacion{
		0%{
			-webkit-transform:translate(-500px,0);
			opacity:0;
		}
		100%{
			-webkit-transform:translate(0px,0px);
			opacity:1;
		}
}
@-moz-keyframes animacionFormacion{
		0%{
			-moz-transform:translate(-500px,0);
			opacity:0;
		}
		100%{
			-moz-transform:translate(-500px,0px);
			opacity:1;
		}
}
@keyframes animacionFormacion{
		0%{
			transform:translate(-500px,0);
			opacity:0;
		}
		100%{
			transform:translate(-500px,0px);
			opacity:1;
		}
}
@-webkit-keyframes animacionExperiencia{
		0%{
			-webkit-transform:translate(0px,-200px);
			opacity:0;
		}
		100%{
			-webkit-transform:translate(0px,0px);
			opacity:1;
		}
}
@-moz-keyframes animacionExperiencia{
		0%{
			-moz-transform:translate(0px,-200px);
			opacity:0;
		}
		100%{
			-moz-transform:translate(0px,0px);
			opacity:1;
		}
}
@keyframes animacionExperiencia{
		0%{
			transform:translate(0px,-200px);
			opacity:0;
		}
		100%{
			transform:translate(0px,0px);
			opacity:1;
		}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
